params {
    help = false
    publish_dir_mode = 'copy'

    // global parameters
    name = 'CUTRUN_Nextflow'
    input = './samples.csv'
    outdir = './results'
    blacklist = false

    // trimming
    seq_len = 100

    // alignment
    save_align_intermeds = false
    picard_jar = '/opt/conda/envs/cutrun_env/share/picard-2.25.0-0/picard.jar'
    skip_dedup = false
    skip_filter = false

    // Options: Peaks
    macs_gsize = false
    macs_qvalue = 0.01
    skip_seacr = false
    seacr_mode = 'stringent'
    seacr_threshold = 0.01

    // Options: Plotting
    skip_plot_profile = false

    // Options: QC
    skip_fastqc = false
    skip_multiqc = false
}

process {
    container = 'koichihigashi/cutrun_env'

    cpus = 4
    memory = 6.GB
}

profiles {
    docker {
        docker.enabled = true
    }
}

manifest {
  name = 'cutrun_nextflow'
  author = 'Koichi Higashi'
  homePage = 'https://github.com/khigashi1987/CUTRUN_Nextflow'
  description = 'CUT&RUN-seq pipeline.'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.0'
}